body {
    background-image: url('/Content/IMG/Start\ image\ car_drive.png'); /* Statische afbeelding */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    transition: background-image 0.5s ease; /* Voeg een transitie toe om de verandering van afbeeldingen vloeiender te maken */
}



.traffic-light { display: flex; flex-direction: column; align-items: center; margin: 20px; }
.light { width: 40px; height: 40px; border-radius: 50%; background-color: grey; margin: 5px; }
.car { font-size: 30px; margin-top: 20px; }

#progressBar {
    width: 0%;
    height: 20px;
    background-color: green;
    margin-top: 20px;
}